group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Remoting.Giraffe ~> 2.6
    nuget FSharp.Core
    nuget Microsoft.AspNetCore.Antiforgery
    nuget Microsoft.AspNetCore.Authentication.Google
    nuget Microsoft.AspNetCore.Server.Kestrel
    nuget Microsoft.AspNetCore.SpaServices
    nuget Microsoft.Extensions.Configuration.UserSecrets
    nuget Saturn

    clitool Microsoft.DotNet.Watcher.Tools
    clitool Microsoft.Extensions.SecretManager.Tools
    clitool dotnet-saturn

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Remoting.Client ~> 2.4

    clitool dotnet-fable

group Build
    source https://api.nuget.org/v3/index.json

    nuget BouncyCastle
    nuget FAKE